

.conteneur-boites {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10vh 0;
}

.boite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: #e0e0e0 1px solid;
  border-radius: 8px;
  padding: 20px;
  margin: 1vw 2vw;
}

p {
  margin: 0;
  padding: 5px 20px;
}

.boite .resultat {
  font-size: 28px;
  font-weight: 700;
}

.boite .commentaire {
  font-size: 14px;
  font-weight: 400;
  color: #828282;
}


.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.head .resultat-final {
  font-size: 56px;
  font-weight: 700;
  padding-bottom: 2vh;
}

.head .moyenne {
  font-size: 24px;
  font-weight: 400;
  color: #828282;
}

body {
  overflow-x: hidden;
}