#map {
  width: 50vw;
  aspect-ratio: 32 / 23;
  border: none;
  border-radius: 12px;
  margin: 2vh 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.marker-cluster {
  background-clip: padding-box;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.marker-cluster-small {
  width: 20px;
  height: 20px;
  line-height: 18px;
}

.marker-cluster-medium {
  width: 30px;
  height: 30px;
  line-height: 28px;
}

.marker-cluster-large {
  width: 40px;
  height: 40px;
  line-height: 38px;
}