table {
  width: auto;
  border-collapse: collapse;
  margin: 10vh 10vw 10vh 10vw;
  padding: 0;
  box-sizing: border-box;
  /* table-layout: auto; */
  display: block;
  overflow-x: auto;
  border-radius: 12px;
}

th {
  background-color: #f5f5f5;
  color: #000000;
  font-weight: 500;
  padding-left: 40px;
}

tr {
  border-bottom: 1px solid #e0e0e0;
}

td {
  padding-left: 20px;
}

tr:hover {
  background-color: #f5f5f5;
}

th,
td {
  /* overflow: hidden; */
  white-space: nowrap;
  position: relative;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  /* c'est fait exprès de le mettre en 3 parties et pas en une ligne */
}



/*
Sélécteur de colonnes
*/

.toggle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10vh 8vw;
  background-color: #e0e0e0;
  border-radius: 12px;
}

.toggle-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  width: 8.3vw;
  height: 40px;
  transition: background-color 0.3s ease;
  margin: 7px;
  text-align: center;
}

.toggle-container input {
  display: none;
}

.toggle-container input:checked + label {
  background-color: #ffffff;
}




/*
bouton de recherche au dessus du tableau
*/

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.search-button input {
  width: 15vw;
  padding: 12px;
  height: 45px;
  border: 1px solid #828282;
  border-radius: 8px;
  margin: 20px;
}

.search-button button,
.btn-clusters button,
.btn-voirplus button{
  height: 45px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.btn-clusters,
.btn-voirplus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;
}



/*
sort buttons
*/

.sort-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.sort-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  font-size: 10px;
}
.sort-buttons button:hover {
  color: #828282;
}